@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000311}}
body {
  font-family: "Work Sans", sans-serif;
  background: #fdfdfd; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000315}}
* {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000318}}
.disabled {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000321}}
.active {
  display: block; }

/*HEADER*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000333}}
.header {
  background: #fdfdfd;
  border: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 1px 10px rgba(41, 47, 66, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000347}}
  .header_logo {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000350}}
  .header_active_logo-img {
    width: 120%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000353}}
  .header_burger {
    width: 24px;
    height: 24px;
    position: relative;
    top: 12px;
    left: 100%;
    margin-left: -24px;
    right: 0px;
    display: block;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000363}}
  .header_burger span, .header_burger span::before, .header_burger span::after {
    width: 20px;
    height: 2px;
    background: #292F42;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    border-radius: 5px;
    transition: .5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000373}}
  .header_burger span::before, .header_burger span::after {
    content: "";
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000377}}
  .header_burger span::before {
    transform: translateY(-5px); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000380}}
  .header_burger span::after {
    transform: translateY(5px); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000383}}
  .header_menu {
    display: none;
    background: #292F42; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000387}}
  .header_menu-mobile {
    display: block;
    position: relative;
    padding-top: 33px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000392}}
  .header_menu-mobile a {
    display: block;
    letter-spacing: 0.3px;
    font: 600 24px "Work Sans";
    margin-bottom: 24px;
    color: #fdfdfd; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\0000399}}
  .header_menu-mobile button {
    width: 100%;
    padding: 16px 68px;
    letter-spacing: 0.3px;
    font: 600 14px "Work Sans";
    color: #fdfdfd;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(247.78deg, #C4E58B -41.78%, #86BE26 63.15%);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    margin-top: 121px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003113}}
.header_active {
  background: #292F42; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003116}}
  .header_active .header_burger span, .header_active .header_burger span::before, .header_active .header_burger span::after {
    background: #fdfdfd; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003119}}
  .header_active .header_burger span::after {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003122}}
  .header_active .header_burger span {
    transform: rotate(-45deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003125}}
  .header_active .header_burger span::before {
    transform: rotate(90deg) translateY(0); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003128}}
  .header_active .header_menu {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003131}}
  .header_active .header_menu-mobile {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003135}}
.header-LT-normal {
  display: none; }

/*MAIN*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003140}}
.main {
  position: relative;
  top: 100px;
  left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003145}}
  .main-links a {
    display: block;
    color: #6F7583;
    font: 500 14px "Work Sans";
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-bottom: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003153}}
  .main-links .main-links_another-pos {
    color: #B3B3C6; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003156}}
  .main-links .main-links_active {
    color: #292F42; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003159}}
  .main .hr {
    width: 100%;
    height: 1px;
    display: block;
    background: #292F42;
    opacity: 0.05;
    border-radius: 1px;
    border: 0;
    margin-top: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003170}}
  .main-content_way-text {
    font: 500 14px "Work Sans";
    letter-spacing: 0.3px;
    line-height: 24px;
    color: #292F42; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003176}}
  .main-content_way-text::before {
    content: "<";
    margin-right: 16px;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003183}}
  .main .main-content_title {
    font: 600 34px "Work Sans";
    line-height: 40px;
    letter-spacing: 0.3px;
    color: #292F42;
    margin: 24px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003191}}
  .main .main-content_description-img {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003194}}
  .main .main-content_description-text {
    color: #6F7583;
    font: 500 16px "Work Sans";
    margin-left: 80px;
    letter-spacing: 0.3px;
    line-height: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003201}}
  .main .main-content_description-text span {
    color: #86BE26;
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003205}}
  .main .main-content_description-team {
    margin: 0;
    margin-left: 80px;
    font: 500 14px "Work Sans";
    letter-spacing: 0.3px;
    line-height: 24px;
    color: #B3B3C6; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003215}}
  .main-list {
    background: #fdfdfd;
    position: relative;
    border-radius: 5px;
    padding: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003221}}
    .main-list_title {
      color: #292F42;
      font: 600 18px "Work Sans";
      letter-spacing: 0.3px;
      line-height: 24px;
      margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003228}}
    .main-list_description {
      color: #6F7583;
      font: 500 14px "Work Sans";
      letter-spacing: 0.3px;
      line-height: 24px;
      margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003236}}
  .main-list:hover {
    z-index: 5;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    transition: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003241}}
  .main-list_laptop {
    display: none; }

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003248}}
  header .container-fluid {
    padding-left: 0;
    padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003253}}
  .header {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003256}}
  .header_menu-mobile {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003259}}
    .header_menu-mobile button {
      width: 345px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003265}}
  .main .hr {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003268}}
  .main-links .main-links_another-pos {
    visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003271}}
  .main .way {
    position: absolute;
    top: -40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003276}}
  .main-content .hr {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003280}}
  .main-list_mobile {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003283}}
  .main-list_laptop {
    position: relative;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003287}}
    .main-list_laptop-more {
      color: #86BE26;
      font: 600 14px "Work Sans";
      display: none;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      line-height: 24px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003298}}
    .main-list_laptop-more::after {
      content: "\2192";
      margin-left: 21px;
      font-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003303}}
    .main-list_laptop-more:hover {
      text-decoration: none;
      color: #292F42;
      transition: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003310}}
  .main-list_laptop:hover-more {
    display: inline-block; } }
@media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003317}}
  .header {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003320}}
  .header-LT-normal {
    display: block;
    box-shadow: 0px 1px 4px rgba(41, 47, 66, 0.05);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003327}}
    .header-LT-normal_menu {
      text-align: right;
      margin: 4px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003331}}
    .header-LT-normal_menu a {
      text-transform: uppercase;
      font: 600 14px "Work Sans";
      letter-spacing: 0.3px;
      display: inline-block;
      text-align: center;
      margin-right: 56px;
      color: #292F42; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003340}}
    .header-LT-normal_menu a:hover {
      color: #86BE26;
      transition: .2s;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003345}}
    .header-LT-normal_menu_btn-login {
      border: 1px solid #292F42;
      border-radius: 5px;
      padding: 8px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003350}}
    .header-LT-normal_menu .header-LT-normal_menu_btn-login:hover {
      background: #86BE26;
      color: #fdfdfd; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003354}}
    .header-LT-normal_menu_btn-pro::after {
      content: "\2192";
      position: relative;
      margin-left: 15px;
      font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Sites\/TAXGIG\/css\/style\.scss}line{font-family:\00003360}}
    .header-LT-normal_menu .header-LT-normal_menu_btn-pro {
      margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
