$letterSpacing: 0.3px;
$fontFamily: 'Work Sans';
$fontFamilyLora: 'Lora', serif;
$fontFamilyRoboto: 'Roboto', sans-serif;
$colorGreen: #86BE26;
$colorBody: #fdfdfd;
$colorBase: #292F42;
$colorMainListDescription: #6F7583;
$borderRadius: 5px;
$lineHeight: 24px;


body {
	font-family: $fontFamily, sans-serif;
	background: $colorBody;
}
* {
	box-sizing: border-box;
}
.disabled {
	display: none;
}
.active {
	display: block;
}

	/*HEADER*/
header {
	
}
// .container {
// 	padding-left: 22px;
// 	padding-right: 22px;
// }
.header {
	background: $colorBody;
	border: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0px 1px 10px rgba(41, 47, 66, 0.1);

	&_logo {
		display: inline-block;
	}
	&_active_logo-img {
		width: 120%;
	}
	&_burger {
		width: 24px;
		height: 24px;
		position: relative;
		top: 12px;
		left: 100%;margin-left: -24px;
		right: 0px;
		display: block;
		cursor: pointer;
	}
	&_burger span, &_burger span::before, &_burger span::after {
		width: 20px;
		height: 2px;
		background: $colorBase;
		position: absolute;
		top: 50%; margin-top: -1px;
		left: 50%; margin-left: -10px;
		border-radius: $borderRadius;
		transition: .5s;
	}
	&_burger span::before, &_burger span::after {
		content: "";
		display: block;
	}
	&_burger span::before {
		transform: translateY(-5px);
	}
	&_burger span::after {
		transform: translateY(5px);
	}
	&_menu {
		display: none;
		background: $colorBase;
		height: 100vh;
	}
	&_menu-mobile {
		display: block;
		// position: relative;
		position: fixed;
		// padding-top: 33px;
		left: 5%;
		right: 5%;
		top: 20%;
	}
	&_menu-mobile a {
		display: block;
		letter-spacing: $letterSpacing;
		font: 600 24px $fontFamily;
		margin-bottom: 24px;
		color: $colorBody;
	}
	&_menu-mobile button {
		width: 100%;
		padding: 16px 68px;
		letter-spacing: $letterSpacing;
		font: 600 14px $fontFamily;
		color: $colorBody;
		text-transform: uppercase;
		border: 0;
		border-radius: $borderRadius;
		background: linear-gradient(247.78deg, #C4E58B -41.78%, #86BE26 63.15%);
		box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
		margin-top: 121px;
	}
}
.header_active {
	background: $colorBase;
	
	.header_burger span, .header_burger span::before, .header_burger span::after {
		background: $colorBody;
	}
	.header_burger span::after {
		display: none;
	}
	.header_burger span {
		transform: rotate(-45deg);
	}
	.header_burger span::before {
		transform: rotate(90deg) translateY(0);
	}
	& .header_menu {
		display: block;	
	}
	& .header_menu-mobile {
		display: block;
	}
}
.header-LT-normal {
	display: none;
}

	/*MAIN*/
.main {
	position: relative;
	top: 100px;
	left: 0;

	&-links a {
		display: block;
		color: #6F7583;
		font: 500 14px $fontFamily;
		letter-spacing: $letterSpacing;
		line-height: $lineHeight;
		margin-bottom: 8px;
	}
	&-links .main-links_another-pos {
		color: #B3B3C6;
	}
	&-links .main-links_active {
		color: $colorBase;
	}
	.hr {
		width: 100%;
		height: 1px;
		display: block;
		background: #292F42;
		opacity: 0.05;
		border-radius: 1px;
		border: 0;
		margin-top: 16px;
	}
	
	&-content_way-text {
		font: 500 14px $fontFamily;
		letter-spacing: $letterSpacing;
		line-height: $lineHeight;
		color: $colorBase;
	}
	&-content_way-text::before {
		content: "<";
		margin-right: 16px;
		font-size: 16px;
	}

	.main-content {
		&_title {
			font: 600 34px $fontFamily;
			line-height: 40px;
			letter-spacing: $letterSpacing;
			color: $colorBase;
			margin: 24px 0;
		}
		&_description {
			&-img {
				float: left;
			}
			&-text {
				color: #6F7583;
				font: 500 16px $fontFamily;
				margin-left: 80px;
				letter-spacing: $letterSpacing;
				line-height: $lineHeight;
			}
			&-text span {
				color: $colorGreen;
				text-decoration: underline;
			}
			&-team {
				margin: 0;
				margin-left: 80px;
				font: 500 14px $fontFamily;
				letter-spacing: $letterSpacing;
				line-height: $lineHeight;
				color: #B3B3C6;
			}
		}
	}
	&-list {
		background: $colorBody;
		position: relative;
		border-radius: $borderRadius;
		padding: 24px;

		&_title {
			color: $colorBase;
			font: 600 18px $fontFamily;
			letter-spacing: $letterSpacing;
			line-height: $lineHeight;
			margin-top: 0;
		}
		&_description {
			color: $colorMainListDescription;
			font: 500 14px $fontFamily;
			letter-spacing: $letterSpacing;
			line-height: $lineHeight;
			margin-bottom: 0;
		}
	}
	&-list:hover {
		z-index: 5;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
		transition: 0.2s;
	}
	&-list_laptop {
		display: none;
	}
	&-questions {
		text-align: center;
		margin-top: 52px;
		&_title {
			color: $colorGreen;
			font: 600 24px $fontFamilyLora;
			letter-spacing: $letterSpacing;
			line-height: $lineHeight;
		}
		&_description {
			color: #D3D4D7;
			font: 600 10px $fontFamily;
			line-height: $lineHeight;
			letter-spacing: $letterSpacing;
			text-transform: uppercase;
			margin-bottom: 56px;
		}
		&_btn-get {
			background: linear-gradient(251.96deg, #C4E58B -41.78%, #86BE26 63.15%);
			box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
			border-radius: $borderRadius;
			padding: 16px 40px;
			color: $colorBody;
			text-transform: uppercase;
			font: 600 14px $fontFamily;
			letter-spacing: $letterSpacing;
			line-height: $lineHeight;
		}
	}
}
	/*FOOTER*/
.footer-mobile {
	background: url("../img/bg-footer-mb.png") 0% 0% no-repeat;
	background-size: 100%;
	position: relative;
	top: 220px;
	
	&_title {
		position: relative;
		top: 84px;
		
		&-logo {
			display: inline-block;
		}
		&-description {
			font: 500 14px $fontFamily;
			line-height: $lineHeight;
			letter-spacing: $letterSpacing;
			color: $colorBody;
			position: relative;
		}
	}
		&_stayInTouch {
			position: relative;
			top: 84px;
			&-title {
				color: #ffffff;
				font: 700 24px $fontFamilyLora;
				letter-spacing: $letterSpacing;
				line-height: $lineHeight;
				margin-top: 0;
			}
			&-email {
				position: relative;
				&_input {
					width: 100%;
					height: 56px;
					padding: 16px 24px;
					border: 1px solid rgba(41, 47, 66, 0.1);
					border-radius: $borderRadius;
					background: $colorBody;
					color: #6F7583;
					font: 500 14px $fontFamily;

					&::placeholder {
						opacity: 0.6;	
					}
				}
				&_btn {
					position: absolute;
					top: 0;
					right: 0;
					width: 56px;
					height: 56px;
					border: 0;
					border-radius: $borderRadius;
					background: $colorGreen;
					color: #ffffff;
					font-size: 22px;
				}
			}
		}
		&_allPages, &_information, &_socials {
			background: $colorBase;
			position: relative;
			margin-top: 106px;
			&-title {
				font: 700 18px $fontFamilyLora;
				color: $colorBody;
				letter-spacing: $letterSpacing;
				line-height: $lineHeight;
				margin: 0;
				display: inline-block;
				width: 90%;
			}
			&-openGroup {
				position: relative;
				width: 24px;
				height: 24px;
				display: inline-block;
				top: 5px;
				
				& > span {
					display: inline-block;
					width: 16px;
					height: 1px;
					position: absolute;
					top: 50%; margin-top: -0.5px;
					left: 50%; margin-left: -8px;
					background: $colorBody;

					&::before {
						content: "";
						transform: rotate(90deg);
						background: $colorBody;
						width: 16px;
						height: 1px;
						display: block;
						transition: .3s;
					}
				}	
			}
			&-openGroup_active {
				& > span {
					&::before {
						transform: rotate(0deg);
						transition: .3s;
					}
				}
			}
			&-links {
				transform: translateY(16px);
				& > a {
					display: block;
					margin-top: 8px;
					font: 400 14px $fontFamilyRoboto;
					line-height: $lineHeight;
					letter-spacing: $letterSpacing;
					color: $colorBody;
				}
			}
		}
		&_information, &_socials {
			margin-top: 24px;
		}
		&_socials {
			margin-bottom: 32px;
		}
	.footer-bottom {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		background: $colorBase;
		& p {
			text-transform: uppercase;
			text-align: center;
			font: 600 10px $fontFamily;
			letter-spacing: $letterSpacing;
			line-height: $lineHeight;
			color: #ffffff;
			margin: 0;
			padding: 16px;

			& > span {
				color: $colorGreen;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.header {
		position: relative;
	}
	.header_menu-mobile {
		text-align: center;
		position: absolute;
		top: 250px;

		& button {
			width: 345px;
		}
	}
	.main {

		.hr {
			display: none;
		}
		&-links .main-links_another-pos {
			visibility: hidden;
		}
		.way {
			position: absolute;
			top: -40px;
		}
		&-content {
			.hr {
				display: block;
			}
		}
		&-list_mobile {
			display: none;
		}
		&-list_laptop {
			position: relative;
			display: block;

			&-more {
				color: $colorGreen;
				font: 600 14px $fontFamily;
				display: none;
				text-transform: uppercase;
				letter-spacing: $letterSpacing;
				line-height: $lineHeight;
				position: absolute;
				z-index: 6;
				top: 50%; margin-top: -12px;
				right: 24px;
			}
			&-more::after {
				content: "\2192";
				margin-left: 21px;
				font-size: 18px;
			}
			&-more:hover {
				text-decoration: none;
				color: $colorBase;
				transition: 0.2s;
			}
			&:hover {
				.main-list_laptop-more {
					display: inline-block;
				}
			}
		}
	}
		/*FOOTER*/
	.footer-mobile {
		background: url("../img/bg-footer-lt.png") 0% 0% no-repeat;
		background-size: 100%;
		top: 120px;

		&_title {
			top: 220px;
		}
		&_stayInTouch {
			top: 220px;
			height: 116px;
		}
		&_allPages, &_information, &_socials {
			margin-top: 250px;
		}
	}
}
@media (min-width: 1024px) {
	.header {
		display: none;
	}
	.header-LT-normal {
		display: block;
		box-shadow: 0px 1px 4px rgba(41, 47, 66, 0.05);
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;

		&_menu {
			text-align: right;
			margin: 4px 0;
		}
		&_menu a {
			text-transform: uppercase;
			font: 600 14px $fontFamily;
			letter-spacing: $letterSpacing;
			display: inline-block;
			text-align: center;
			margin-right: 56px;
			color: $colorBase;
		}
		&_menu a:hover {
			color: $colorGreen;
			transition: .2s;
			text-decoration: none;
		}
		&_menu_btn-login {
			border: 1px solid $colorBase;
			border-radius: $borderRadius;
			padding: 8px 20px;
		}
		&_menu .header-LT-normal_menu_btn-login:hover {
			background: $colorGreen;
			color: $colorBody;
		}
		&_menu_btn-pro::after {
			content: "\2192";
			position: relative;
			margin-left: 15px;
			font-size: 20px;
		}
		&_menu .header-LT-normal_menu_btn-pro {
			margin-right: 0;
		}
	}
}